button,input{
	font-family: "Segoe UI", "Open Sans", sans-serif, serif;
}
.article-img{
	width: 100%;
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
}
.indent28{
	text-indent: 14px;
}
.line-p{
	line-height: 18px;
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
}
.cell-border{
	/*border:solid 1px #60a917;*/
	overflow: hidden;
	position: relative;
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	z-index: 1;
}
.cell-border:hover img{
	opacity: 0.5;
}
.cell-border:hover h4{
	opacity: 0.5;
}
.cell-border:hover p{
	opacity: 0.5;
}
.cell-border:hover .read-btn{
	opacity: 1;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2);
}
.read-btn{
	position: absolute;
	left: 50%;
	top:25%;
	margin-left: -2.75rem;
	transition:all 0.5s ease-in;
	opacity: 0;
	z-index: 5;
	font-weight: bold;
}
.fw-tit{
	font-weight: bold;
}
.link-tit{
	position: relative;
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
}
/*.link-tit:hover{
	-webkit-transform:translate(-20px,0px);
	-moz-transform:translate(-20px,0px);
	-o-transform:translate(-20px,0px);
	-ms-transform:translate(-20px,0px);
	transform:translate(-20px,0px);

}*/
.programming-img{
	max-height: 600px;
	overflow: hidden;
}
.social-link{
	display: block;
	width: 50px;
	height: 50px;
	background-image: url('../images/icon-spring.png');
	background-repeat: no-repeat;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}

.social-qq{
	background-position: 0px 0px;
}
.social-qq:hover{
	background-position: -50px 0px;
}
.social-wechat{
	background-position: 0px -48px;
}
.social-wechat:hover{
	background-position: -50px -50px;
}
.social-webo{
	background-position: 0px -100px;
}
.social-webo:hover{
	background-position: -50px -100px;
}
.social-google{
	background-position: 0px -150px;
}
.social-google:hover{
	background-position: -50px -150px;
}
.social-github{
	background-position: 0px -200px;
}
.social-github:hover{
	background-position: -50px -200px;
}
 .mask{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
    opacity: 0;
}

.wechat-box{
    position: absolute;
    width: 240px;
    height: 240px;
    background-color: white;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background-image: url('../images/weixin.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    box-shadow: 0px 0px 200px rgba(0,0,0,.5)
}
.wechat-box button{
	position: absolute;
	left: 100%;
	top: -2px;
	border: none;
}
.bg-word{
	background-image: url('../images/leave.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.textarea-leave{
	min-height: 10.25rem !important;
}
.text-accent1{
	font-size: 1.35rem;
}

.margin-top20{
	margin-top: 20px;
}
.margin-bottom20{
	margin-bottom: 20px;
}
.margin-topBottom20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-top40{
	margin-top: 40px;
}
.margin-bottom40{
	margin-bottom: 40px;
}
.margin-topBottom40{
	margin-top: 40px;
	margin-bottom: 40px;
}

.hot-grid .row.cells3 > .cell> .row{
	height: 180px;
} 
.hot-grid .row.cells3 > .cell> .row>a{
	width: 100%;
	height: 180px;
	display: block;
	position: relative;
}
.hot-grid .row.cells3 > .cell> .row>a>img{
	width: 100%;
	height: 180px;
}
.hot-grid .row.cells3 > .cell> .row>a>h4{
	position: absolute;
	width: 100%;
	background-color: rgba(0, 32, 80, 0.75);
	margin:0px;
	bottom: 0px;
	left: 0px;
	padding: 20px;
	color: #fff;
}
.hot-grid .row.cells3 > .cell> .row>a>h4:hover{
	text-decoration: underline;
}
.news-cell{
	height:367px; 
	background-color:rgb(0,32,80);
}
.news-cell ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}
.news-cell ul li{
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}

.news-cell ul li:hover{
	background-color: rgba(255,255,255,0.1);
}
.news-cell ul li a{
	font-size: 0.9rem;
	color: #fff;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
	margin:0px 20px;
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.news-cell ul li a:hover{
	text-decoration: underline;
}
